---
import BaseHead from "../../components/BaseHead.astro";
import HeaderLink from "../../components/HeaderLink.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { ViewTransitions } from "astro:transitions";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
console.log(posts);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    
    <style>
      main {
        min-height: 100vh;
      }
      ul {
        list-style-type: none;
        padding: unset;
      }

      ul li a:hover {
        background-color: #e3f8ed !important;
        /* outline: 0.5px dashed var(--accent); */
        border-radius: 1rem;
        transition-duration: 0.2s;
      }
      ul li {
        padding-bottom: 4px;
      }
      ul li :global(time) {
        flex: none;
        color: #595959;
      }
      ul li a:visited {
        color: rgb(0.8, 40.8, 10.8);
      }
      .tag {
        font-size: 1rem !important;
        color: rgb(0.8, 40.8, 10.8);
      }
      time {
        font-size: 1rem;
      }
      body {
        padding-top: 10vh;
        padding-bottom: 10vh;
      }
      ul li a {
        white-space: nowrap;
        font-size: 1rem !important;
        text-decoration: none !important;
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
      }
      p {
        font-size: 0.9rem;
      }
    </style>
  </head>
  <body>
    <main>
      <div class="background-grid"></div>
      <HeaderLink href="/" style="padding-bottom : 3rem ;">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-corner-up-left"
          ><polyline points="9 14 4 9 9 4"></polyline><path
            d="M20 20v-7a4 4 0 0 0-4-4H4"></path></svg
        >
        Home
      </HeaderLink>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}/`}>
                  <p>{post.data.title}</p>
                  <div style="height : 1px ; width : 100% ; background-color : #03030333;" />
                  <FormattedDate date={post.data.pubDate} />
                </a>
              </li>
            ))
          }
        </ul>
        
      </section>
    </main>
  </body>
</html>
